name: SonarQube Cloud

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze Flutter project
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cirruslabs/flutter:stable

    steps:
      # Clonar el repositorio
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Deshabilitar clones superficiales para an치lisis m치s relevante

      # Cachear dependencias de SonarCloud
      - name: Cache SonarQube Cloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      # Instalar dependencias del proyecto Flutter
      - name: Install dependencies
        run: flutter pub get
      - run: flutter analyze .
      # Run widget tests for our flutter project.
      - run: flutter test

      # Construir el APK para Android
      - name: Build APK
        run: flutter build apk --release

      # Descargar el sonar-scanner
      - name: Download sonar-scanner
        run: |
          curl --create-dirs -sSLo $HOME/.sonar/sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-6.2.1.4610-linux-x64.zip
          unzip -o $HOME/.sonar/sonar-scanner.zip -d $HOME/.sonar/

      # Ejecutar el an치lisis de SonarCloud
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Necesario para obtener la informaci칩n del PR
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # Token de acceso de SonarCloud
        run: $HOME/.sonar/sonar-scanner-6.2.1.4610-linux-x64/bin/sonar-scanner
